@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.create {
  animation: fadeIn 1.0s;
  height: 100px;
  margin-bottom: 5%;
  width: 100%;
  border: 1px white solid; 
  border-radius: 3px;
  background: transparent;
  opacity: 0.8; 
  color: white;
  font-size: 300%;
  font-family: 'Open Sans Condensed';
  letter-spacing: 15px;
}

.artpiece {
  animation: fadeIn 1s;
  height: 80px;
  width: 100%;
  border-radius: 3px;
  background-color:white;
}

.backgroundCreate {
  z-index: 0;
  opacity: 0.75;
  background-color: black;
}

.backgroundImageCreate {
  z-index: -1;
  background-image: url('http://www.aljazeera.com/mritems/Images/2015/6/16/67fe4bad57824c96a2e2c3ea9e3c3952_18.jpg');
  background-size: cover;
  background-position-x: center;
}

.image{
  position: absolute;
  margin-top: -35%;
  margin-left: -2%;
}